#file

#c/c++
*.out
*.in
abc.out

#normal
*.pdf
*.zip
*.rar
*.jpg
*.jped
*.png
*.bmp
*tar*
*.ppt
*.PPT
*.doc
*.docx
*.pptx
*.opt
*.mp4
*.deb
*.swp

#python
*pyc

#java
*.class
*.iml
*.xml

#flode
./_pycache
./try
course