#file

#c/c++
*.out
*.in
abc.out
pia.sh
Utils.java
test.cpp
test.h

#normal
*.pdf
*.zip
*.rar
*.jpg
*.jped
*.png
*.bmp
*tar*
*.ppt
*.PPT
*.doc
*.docx
*.pptx
*.opt
*.mp4
*.deb
*.swp

#python
*pyc

#java
*.class
*.iml
*.xml

#flode
./_pycache
./try
./cmake-build-debug
course
duplicate
*cmake-build-debug/
*tmp
*latex
*waiting